<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <style>
    table,
    th,
    td {

       font-family:'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
           text-align: center;
           border: 2px solid black;
           border-collapse: collapse;
           white-space: nowrap;
           font-size:12px;

    }

    th,
    td {
      padding: 5px;
      text-align: right;
    }

    th{
    text-align: center;
    }
    td{
    font-weight:bold;
    }


    .headerColor{
     background-color: #0059b3;
      color:#ffffff
    }
    .total{
   background-color:#99ccff;
   color:black;


    }
    .footerGrey{
    background-color:#b3b3cc;
    }




    </style>

</head>

<body>

<!-- For Maker Table -->
<table style="width:100%;">
  <!--header-> firstRow-->
    <tr class="headerColor">
        <th rowspan="2">Activities</th>
            <div th:each="makerName:${vmr.getMakerNameSet()}">
                <th colspan="2"  th:text="${makerName}">MakerName</th>
            </div>
        <th colspan="2" class="total">Total Count(Team)</th>
    </tr>
    <!--header-> SecondRow-->
    <tr class="headerColor">
        <div th:each="makerName:${vmr.getMakerNameSet()}">
            <th>No. of EDMS</th>
            <th>No. of Transaction</th>
        </div>
        <th class="total">No. of EDMS</th>
        <th class="total">No. of Transaction</th>
    </tr>

    <!--data -> for all activities-->
    <tr>
        <td style="text-align:left">Account Opening-Flex</td>
        <div th:each="maker:${vmr.getMakerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsAccountOpeningFlex())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsAccountOpeningFlex())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getMakerEdmsAccountOpeningFlex())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getMakerTransactionsAccountOpeningFlex())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">Account Opening-Dob</td>
        <div th:each="maker:${vmr.getMakerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsAccountOpeningDob())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsAccountOpeningDob())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getMakerEdmsAccountOpeningDob())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getMakerTransactionsAccountOpeningDob())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">KYC-Flex</td>
        <div th:each="maker:${vmr.getMakerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsKycFlex())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsKycFlex())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getMakerEdmsKycFlex())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getMakerTransactionsKycFlex())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">KYC-BPM</td>
        <div th:each="maker:${vmr.getMakerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsKycBpm())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsKycBpm())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getMakerEdmsKycBpm())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getMakerTransactionsKycBpm())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">KYC Unfreeze-Flex</td>
        <div th:each="maker:${vmr.getMakerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsKycUnfreezeFlex())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsKycUnfreezeFlex())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getMakerEdmsKycUnfreezeFlex())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getMakerTransactionsKycUnfreezeFlex())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">Account Closure</td>
        <div th:each="maker:${vmr.getMakerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsAccountClosure())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsAccountClosure())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getMakerEdmsAccountClosure())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getMakerTransactionsAccountClosure())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">Fixed Deposits(Breakage,Renewals)</td>
        <div th:each="maker:${vmr.getMakerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsFixedDepositsForBreakageRenewals())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsFixedDepositsForBreakageRenewals())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getMakerEdmsFixedDepositsForBreakageRenewals())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getMakerTransactionsFixedDepositsForBreakageRenewals())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">Fixed Deposits-GTS(STP)</td>
        <div th:each="maker:${vmr.getMakerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsFixedDepositsForGtsStp())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsFixedDepositsForGtsStp())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getMakerEdmsFixedDepositsForGtsStp())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getMakerTransactionsFixedDepositsForGtsStp())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">Signature Mandate Addition/Ammendment</td>
        <div th:each="maker:${vmr.getMakerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsSignatureMandateAdditionOrAmmendment())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsSignatureMandateAdditionOrAmmendment())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getMakerEdmsSignatureMandateAdditionOrAmmendment())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getMakerTransactionsSignatureMandateAdditionOrAmmendment())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">Trade License</td>
        <div th:each="maker:${vmr.getMakerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsTradeLicense())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsTradeLicense())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getMakerEdmsTradeLicense())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getMakerTransactionsTradeLicense())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">Account Maintanence(MISC)</td>
        <div th:each="maker:${vmr.getMakerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsAccountMaintanenceMisc())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsAccountMaintanenceMisc())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getMakerEdmsAccountMaintanenceMisc())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getMakerTransactionsAccountMaintanenceMisc())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">Cheque Book-GTS(STP)</td>
        <div th:each="maker:${vmr.getMakerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsChequeBookGtsStp())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsChequeBookGtsStp())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getMakerEdmsChequeBookGtsStp())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getMakerTransactionsChequeBookGtsStp())}"></td>
    </tr>
    <!--Todo: Add total row after total logic and Add mtd,previousMonth rows-->
    <tr style="border:5px">
        <td style="text-align:left"><b>Total</b></td>
        <div th:each="maker:${vmr.getMakerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsTotalTransactionsRow())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsTotalTransactionsRow())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getMakerEdmsTotalTransactionsRow())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getMakerTransactionsTotalTransactionsRow())}"></td>
    </tr>
    <tr class="footerGrey">
        <td style="text-align:left">MTD</td>
        <div th:each="maker:${vmr.getMakerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsMtd())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsMtd())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getMakerEdmsMtd())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getMakerTransactionsMtd())}"></td>
    </tr>
    <tr class="footerGrey">
        <td style="text-align:left">PreviousMonth</td>
        <div th:each="maker:${vmr.getMakerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsPreviousMonth())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsPreviousMonth())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getMakerEdmsPreviousMonth())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getMakerTransactionsPreviousMonth())}"></td>
    </tr>



</table>

<br></br>
<br></br>
<!--ToDO:///////////////////////////////////////////  Checker Table  /////////////////////////////////////////////////////////////////////////-->
<!--For Checker Table-->
<table style="width:100%;">
    <!--header-> firstRow-->
    <tr class="headerColor">
        <th rowspan="2">Activities</th>
        <div th:each="checkerName:${vmr.getCheckerNameSet()}">
            <th colspan="2"  th:text="${checkerName}">CheckerName</th>
        </div>
        <th colspan="2" class="total">Total Count(Team)</th>
    </tr>
    <!--header-> SecondRow-->
    <tr class="headerColor">
        <div th:each="checkerName:${vmr.getCheckerNameSet()}">
            <th>No. of EDMS</th>
            <th>No. of Transaction</th>
        </div>
        <th class="total">No. of EDMS</th>
        <th class="total">No. of Transaction</th>
    </tr>
    <!--data -> for all activities-->
    <tr>
        <td style="text-align:left">Account Opening-Flex</td>
        <div th:each="checker:${vmr.getCheckerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerEdmsAccountOpeningFlex())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerTransactionsAccountOpeningFlex())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getCheckerEdmsAccountOpeningFlex())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getCheckerTransactionsAccountOpeningFlex())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">Account Opening-Dob</td>
        <div th:each="checker:${vmr.getCheckerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerEdmsAccountOpeningDob())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerTransactionsAccountOpeningDob())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getCheckerEdmsAccountOpeningDob())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getCheckerTransactionsAccountOpeningDob())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">KYC-Flex</td>
        <div th:each="checker:${vmr.getCheckerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerEdmsKycFlex())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerTransactionsKycFlex())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getCheckerEdmsKycFlex())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getCheckerTransactionsKycFlex())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">KYC-BPM</td>
        <div th:each="checker:${vmr.getCheckerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerEdmsKycBpm())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerTransactionsKycBpm())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getCheckerEdmsKycBpm())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getCheckerTransactionsKycBpm())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">KYC Unfreeze-Flex</td>
        <div th:each="checker:${vmr.getCheckerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerEdmsKycUnfreezeFlex())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerTransactionsKycUnfreezeFlex())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getCheckerEdmsKycUnfreezeFlex())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getCheckerTransactionsKycUnfreezeFlex())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">Account Closure</td>
        <div th:each="checker:${vmr.getCheckerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerEdmsAccountClosure())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerTransactionsAccountClosure())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getCheckerEdmsAccountClosure())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getCheckerTransactionsAccountClosure())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">Fixed Deposits(Breakage,Renewals)</td>
        <div th:each="checker:${vmr.getCheckerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerEdmsFixedDepositsForBreakageRenewals())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerTransactionsFixedDepositsForBreakageRenewals())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getCheckerEdmsFixedDepositsForBreakageRenewals())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getCheckerTransactionsFixedDepositsForBreakageRenewals())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">Fixed Deposits-GTS(STP)</td>
        <div th:each="checker:${vmr.getCheckerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerEdmsFixedDepositsForGtsStp())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerTransactionsFixedDepositsForGtsStp())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getCheckerEdmsFixedDepositsForGtsStp())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getCheckerTransactionsFixedDepositsForGtsStp())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">Signature Mandate Addition/Ammendment</td>
        <div th:each="checker:${vmr.getCheckerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerEdmsSignatureMandateAdditionOrAmmendment())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerTransactionsSignatureMandateAdditionOrAmmendment())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getCheckerEdmsSignatureMandateAdditionOrAmmendment())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getCheckerTransactionsSignatureMandateAdditionOrAmmendment())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">Trade License</td>
        <div th:each="checker:${vmr.getCheckerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerEdmsTradeLicense())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerTransactionsTradeLicense())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getCheckerEdmsTradeLicense())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getCheckerTransactionsTradeLicense())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">Account Maintanence(MISC)</td>
        <div th:each="checker:${vmr.getCheckerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerEdmsAccountMaintanenceMisc())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerTransactionsAccountMaintanenceMisc())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getCheckerEdmsAccountMaintanenceMisc())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getCheckerTransactionsAccountMaintanenceMisc())}"></td>
    </tr>
    <tr>
        <td style="text-align:left">Cheque Book-GTS(STP)</td>
        <div th:each="checker:${vmr.getCheckerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerEdmsChequeBookGtsStp())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerTransactionsChequeBookGtsStp())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getCheckerEdmsChequeBookGtsStp())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getCheckerTransactionsChequeBookGtsStp())}"></td>
    </tr>
    <!--Todo: Add total row after total logic and Add mtd,previousMonth rows-->
    <tr style="border:5px">
        <td style="text-align:left"><b>Total</b></td>
        <div th:each="checker:${vmr.getCheckerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerEdmsTotalTransactionsRow())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerTransactionsTotalTransactionsRow())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getCheckerEdmsTotalTransactionsRow())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getCheckerTransactionsTotalTransactionsRow())}"></td>
    </tr>
    <tr class="footerGrey">
        <td style="text-align:left">MTD</td>
        <div th:each="checker:${vmr.getCheckerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerEdmsMtd())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerTransactionsMtd())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getCheckerEdmsMtd())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getCheckerTransactionsMtd())}"></td>
    </tr>
    <tr class="footerGrey">
        <td style="text-align:left">PreviousMonth</td>
        <div th:each="checker:${vmr.getCheckerNameSet()}">
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerEdmsPreviousMonth())}"></td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(checker).getCheckerTransactionsPreviousMonth())}"></td>
        </div>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalEdmsString()).getCheckerEdmsPreviousMonth())}"></td>
        <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(vmr.getTotalTransactionsString()).getCheckerTransactionsPreviousMonth())}"></td>
    </tr>

</table>

</body>
</html>