<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <style>
    table,
    th,
    td {

       font-family:'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
           text-align: center;
           border: 2px solid black;
           border-collapse: collapse;
           white-space: nowrap;
           font-size:12px;

    }

    th,
    td {
      padding: 5px;
      text-align: right;
    }

    th{
    text-align: center;
    }
    td{
    font-weight:bold;
    }


    .headerColor{
     background-color: #0059b3;
      color:#ffffff
    }
    .total{
   background-color:#99ccff;
   color:black;


    }
    .footerGrey{
    background-color:#b3b3cc;
    }




    </style>

</head>

<body>

<!-- For Maker Table -->
<table style="width:100%;">
  <!--header-> firstRow-->
    <tr>
        <th colspan="100%">Maker</th>
    </tr>
    
    <tr>
        <th>Activities</th>

        <th >Account Opening-Flex</th>
        <th >Account Opening-Dob</th>
        <th >KYC-Flex</th>
        <th >KYC-BPM</th>
        <th >KYC Unfreeze-Flex</th>
        <th >Account Closure</th>
        <th >Fixed Deposits(Breakage,Renewals)</th>
        <th >Fixed Deposits-GTS(STP)</th>
        <th >Signature Mandate Addition/Ammendment</th>
        <th >Trade License</th>
        <th >Account Maintanence(MISC)</th>
        <th >Cheque Book-GTS(STP)</th>

        <td ><b>Total</b></td>
    </tr>

    <div th:each="maker:${vmr.getMakerNameSet()}">
        <tr>
            <td rowspan="2" th:text="${maker}">mmakerNameHere</td>
            <td>No. of EDMS</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsAccountOpeningFlex())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsAccountOpeningDob())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsKycFlex())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsKycBpm())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsKycUnfreezeFlex())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsAccountClosure())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsFixedDepositsForBreakageRenewals())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsFixedDepositsForGtsStp())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsSignatureMandateAdditionOrAmmendment())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsTradeLicense())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsAccountMaintanenceMisc())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerEdmsChequeBookGtsStp())}">-</td>
            <td th:text="${}"
        </tr>
        
        <tr>
            <td>No.of Transaction</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsAccountOpeningFlex())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsAccountOpeningDob())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsKycFlex())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsKycBpm())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsKycUnfreezeFlex())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsAccountClosure())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsFixedDepositsForBreakageRenewals())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsFixedDepositsForGtsStp())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsSignatureMandateAdditionOrAmmendment())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsTradeLicense())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsAccountMaintanenceMisc())}">-</td>
            <td th:text="${vmr.getString(vmr.getProductivityMakerCheckerMap().get(maker).getMakerTransactionsChequeBookGtsStp())}">-</td>
        </tr>
    </div>
</table>

</body>
</html>